.day {
    border: 1px solid gray;
    word-wrap: break-word;
}

.day-active {
    background-color: #ffe55d;
}

a {
    color: #0000FF;
    text-decoration: underline;
}

.recipe-search {
    width: 100%;
}
