<div class="col" *ngIf="showMeals" >
    <div class="row">
        <input [(ngModel)]="search" class="form-control" type="search" name="search" (ngModelChange)="onSearchChange()">
    </div>
    <div class="recipe-container">
        <div class="row meal mt-2" *ngFor="let meal of sortedMeals" [ngClass]="{'main': meal.category === 'Main', 'side': meal.category === 'Side', 'dessert': meal.category === 'Dessert'}" (click)="onMealClicked(meal)">
            <div class="col-6">{{meal.name}}</div>
            <div class="col-6">{{meal.link}}</div>
        </div>
    </div>
</div>
