<div class="col" *ngIf="showMeals" >
    <div class="row">
        <input [(ngModel)]="search" class="form-control" type="search" name="search" (ngModelChange)="onSearchChange()">
    </div>
    <div class="recipe-container">
        <div class="row meal mt-2" *ngFor="let meal of sortedMeals" [ngClass]="{'main': meal.category === 'Main', 'side': meal.category === 'Side', 'dessert': meal.category === 'Dessert'}">
            <div class="col-5">{{meal.name}}</div>
            <div class="col-5">{{meal.link}}</div>
            <div class="col-1">
                <button class="btn btn-outline-success" (click)="onMealClicked(meal)">+</button>
            </div>
            <div class="col-1">
                <button class="btn btn-outline-danger" (click)="onDeleteMeal(meal)">X</button>
            </div>
        </div>
    </div>
</div>
